<div id="header" uk-sticky="animation: uk-animation-slide-top; sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky; cls-inactive: uk-navbar-transparent; top: 200">
		<div class="uk-width-1-1 net-holder uk-text-right">
			<a href="https://twitter.com/SViolenciayPaz" target="_blank">
				<svg viewBox="0 0 34 34" class="net-img"><use class="net" xlink:href="#tw"></use></svg>
			</a>
			<a href="https://www.facebook.com/Seminario.Violencia/" target="_blank">
				<svg viewBox="0 0 34 34" class="net-img"><use class="net" xlink:href="#fb"></use></svg>
			</a>
		</div>
	<nav class="uk-navbar-container" uk-navbar>
		<div class="uk-width-1-1 uk-text-center logo-holder fixed">
			<a href="<%= root_path %>">
				<img class="logo-svp" data-src="<%= image_url("logo-svp-color.svg") %>" data-width data-height uk-img>
			</a>
		</div>
		<div class="uk-width-1-1 uk-text-center fixed" style="margin-top: 10px;">
			<ul class="uk-inline-block" id="menu-header">
				<li><a class="<%= action_name == 'acerca' ? "active" : "" %>" href="<%= acerca_path %>">Acerca de</a></li>
				<li><a class="<%= action_name == 'seminarios' ? "active" : "" %>" href="<%= seminarios_path %>">Seminarios</a></li>
				<li><a class="<%= action_name == 'publicaciones' ? "active" : "" %>" href="<%= publicaciones_path %>">Publicaciones</a></li>
				<li><a class="<%= action_name == 'multimedia' ? "active" : "" %>" href="<%= multimedia_path %>">Multimedia</a></li>
				<li><a href="#">Cursos</a></li>
			</ul>
		</div>
		<div class="uk-navbar-left uk-text-center logo-holder sticky">
			<a class="uk-flex" href="<%= root_path %>">
				<img class="logo-svp" data-src="<%= image_url("logo-svp-color.svg") %>" data-width data-height uk-img>
			</a>
		</div>
		<div class="uk-navbar-right uk-text-center sticky">
			<ul class="uk-inline-block" id="menu-header">
				<li><a class="<%= action_name == 'acerca' ? "active" : "" %>" href="<%= acerca_path %>">Acerca de</a></li>
				<li><a class="<%= action_name == 'seminarios' ? "active" : "" %>" href="<%= seminarios_path %>">Seminarios</a></li>
				<li><a class="<%= action_name == 'publicaciones' ? "active" : "" %>" href="<%= publicaciones_path %>">Publicaciones</a></li>
				<li><a class="<%= action_name == 'multimedia' ? "active" : "" %>" href="<%= multimedia_path %>">Multimedia</a></li>
				<li><a href="#">Cursos</a></li>
			</ul>
			<a id="modal-menu" class="uk-navbar-toggle" uk-navbar-toggle-icon href=""></a>
		</div>
	</nav>
</div>



