<% @sems.each_with_index do |s,i| %>
<div class="seminario uk-text-center">
	<img id="img-sem-<%= i %>" data-src="" data-width data-height uk-img>
	<a class="boton-seminario" href="<%= seminario_path(sem: s.titulo.parameterize) %>">Más información</a>
</div>
<script>
	var xhr<%= i %> = new XMLHttpRequest();
	xhr<%= i %>.open("get","https://www.colmex.mx/catalogo_eventos.json?titulo=<%= s.titulo %>");
	xhr<%= i %>.onload = function(){
		if(xhr<%= i %>.status === 200){
			var data = JSON.parse(xhr<%= i %>.response);
			if(data["videos"].length > 0){
				document.querySelector("#img-sem-<%= i %>").setAttribute("data-src",data["videos"][0]["ligaImagen"]);
			}
		}
	};
	xhr<%= i %>.send();
</script>
<% end %>
