<%= render 'principal/header' %>
<div class="encabezado-seccion uk-text-center">
	<span class="titulo-encabezado">Seminarios <span class="outline">2019</span></span>
</div>
<div class="contenido">
	<div class="uk-grid-collapse uk-flex-middle uk-child-width-1-2@m" uk-grid>
		<div class="seminario uk-text-center">
			<img data-src="<%= image_url('sem1.png') %>" data-width data-height uk-img>
			<a class="boton-seminario" href="#">Más información</a>
		</div>
		<div class="seminario uk-text-center">
			<img data-src="<%= image_url('sem2.png') %>" data-width data-height uk-img>
			<a class="boton-seminario" href="#">Más información</a>
		</div>
		<div class="seminario uk-text-center">
			<img data-src="<%= image_url('sem3.png') %>" data-width data-height uk-img>
			<a class="boton-seminario" href="#">Más información</a>
		</div>
	</div>
	<div class="sel-year uk-grid-collapse uk-child-width-1-2" uk-grid>
		<div class="sem-year">< 2020</div>
		<div class="sem-year uk-text-right">2018 ></div>
	</div>
</div>
<script>
var xhr = new XMLHttpRequest();
xhr.open("get","https://www.colmex.mx/catalogo_eventos.json?categoria=Seminario sobre Violencia y Paz&ordercrono=desc&anio=<%= params[:anio] ? params[:anio] : '2019' %>")
xhr.withCredentials = true;
//xhr.responseType = "blob";
xhr.setRequestHeader("X-Requested-With","XMLHttpRequest");
// Si se procesa la petición, se ejecuta el script.
xhr.onload = function(){
	if(xhr.status === 200){
		var result = JSON.parse(xhr.responseText);
		console.log(result);
		//var script = document.createElement("script");
		//script.src = URL.createObjectURL(xhr.response);
		//document.body.appendChild(script);
	}
};
xhr.send();
</script>
<%= render 'principal/footer' %>
